.bg{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.bg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
} 

.bg .box{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    display: flex;
    align-items: center;
    padding: 10%;
}

.bg .title h1{
    font-size: 4rem;    
    font-family: monospace;
    color: rgb(211, 211, 211);
}

.bg .title p{
    font-size: 1.2rem;
    font-family: consolas;
}

.page{
    width: 100%;
}

.stage1{
    background-color: transparent;
    height: 100vh;
    width: 100%;
}

.stage2,
.stage3{
    background-color: rgb(24, 24, 26);
    width: 100%;
    height: fit-content;
}

.container{
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 8rem;
    padding-bottom: 3rem;
}

.tb{
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 3rem;
}

.tb span{
    color: rgb(178, 178, 178);
}

.tb h2{
    color: white;
    font-size: 2.2rem;
    margin-top: 8px;
    margin-bottom: 16px;
}

.tb p {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    margin-bottom: 16px;
}

.tl{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 16px;
    width: 100%;
    flex-wrap:wrap;
    margin-top: 4rem;
}

.tl .img{
    width: 50%;
    aspect-ratio: 16/9;
    overflow: hidden;
    border-radius: 20px;
}

.tl .img img{
    width: 100%;
    object-fit: cover
}

.tl .tb-r{
    width: 45%;
    color: white;
}

.tl .tb-r h2{
    margin-bottom: 16px;
    font-size: 1.1rem;
}

.l-items{
    list-style: none;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    color: white;
    flex-wrap: wrap;
    width: 100%;
}

.l-items li{
    background-color: rgb(36, 36, 38);
    padding: 1rem;
    border-radius: 20px;
    width: calc(50% - 2rem);
}

.l-items .img{
    aspect-ratio: 16/9;
    overflow: hidden;
    border-radius: 20px;
    margin-bottom: 1rem;
}

.l-items .img img{
    width: 100%;
    object-fit: cover;
}

.three-box,
.two-box{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    width: 100%;
}

.three-box .box:nth-child(2){
    margin-bottom: 40px;
}

.three-box .box,
.two-box .box{
    background-color: rgb(36, 36, 38);
    padding: 1rem;
    border-radius: 20px;
    width: calc(33.33% - 2rem);
    text-align: center;
}

.three-box .box .img,
.two-box .box .img{
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 1rem;
}

.three-box .box .img img,
.two-box .box .img img{
    height: 100%;
}

.three-box .box h2,
.two-box .box h2{
    margin-bottom: 16px;
    font-size: 1.4rem;
    color: white;
}

.three-box .box p,
.two-box .box p{
    font-size: 1rem;
    color: rgb(178, 178, 178);
    margin-bottom: 16px;
}

.questions{
    color: white;
    list-style: none;
}

.questions *{
    transition: all .3s;
}

.questions li{
    font-size: 1.1rem;
    background-color: rgb(36, 36, 38);
    overflow: hidden;
    padding: 1rem;
    cursor: pointer;
}

.questions li:first-child{
    border-radius: 12px 12px 0 0;
}

.questions li:last-child{
    border-radius: 0 0 12px 12px;
}

.questions li .ask{
    display: flex;
    justify-content: space-between;
}

.questions li .reply{
    overflow: hidden;
    height: 0;
}

.questions li i{
    transform: rotate(-180deg)
}

.questions li.active{
    margin: 12px 0;
    border-radius: 12px 12px;
}

.questions li.active i{
    transform: rotate(0deg);
}

.questions li.active .reply{
    margin-top: 1rem;
    height: unset;
}

@media screen and (max-width: 768px){
    .bg .title h1{
        font-size: 3.0rem;
    }

    .three-box,
    .two-box{
        flex-direction: column;
        width: 100%;
    }

    .three-box .box,
    .two-box .box{
        width: 100%;
    }

    .three-box .box:nth-child(2) {
        margin: 0;
    }

    .three-box .box .img,
    .two-box .box .img{
        width: 80px;
    }

    .l-items{
        flex-direction: column;
    }

    .l-items li{
        width: 100%;
    }

    .container{
        width: 90%;
    }

    .tl .img{
        width: 100%;
    }

    .tl .tb-r{
        width: 100%;
    }
    
}