
.slider{
    width: 100%;
    position: relative;
    overflow: hidden;
    aspect-ratio: 18/9;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 1rem 0;
    overflow: hidden;
    
}

.slider *{
    transition: all .5s;
}

.slider .slide{
    position: absolute;
    width: 80%;
    aspect-ratio: 16/9;
    top: 0;
    left: 10%;
    z-index: 0;
    scale: .8;
    opacity: 0;
}

.slider .slide.a0{
    left: calc(-70% - 10px);
    filter: brightness(.5);
    cursor: pointer;
    z-index: 2;
    opacity: 1;
    scale: 1;
}

.slider .slide.a1{
    left: calc(10%);
    z-index: 3;
    opacity: 1;
    scale: 1;

}

.slider .slide.a2{
    left: calc(90% + 10px);
    filter: brightness(.5);
    cursor: pointer;
    z-index: 2;
    scale: 1;
    opacity: 1;
}

.slider .next{
    position: absolute;
    left: calc(90% + 10px);
    top: 0;
    bottom: 0;
    z-index: 4;
    width: 200px;
    cursor: pointer;
}

.slider .prev{
    position: absolute;
    right: calc(90% + 10px);
    top: 0;
    bottom: 0;
    z-index: 4;
    width: 200px;
    cursor: pointer;
}

.slider .dots{
    background-color: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.slider .dots .dot{
    width: 20px;
    height: 8px;
    border-radius: 5px;
    /* margin: 0 4px; */
    cursor: pointer;
    border: 1px solid rgb(255, 118, 5);
}

.slider .dots .dot.active{
    background-color: rgb(255, 118, 5);
}

.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide:hover img{
    scale: 1.05;
}

.animation_zoom{
    transition: scale .3s;
}

.animation_zoom:hover{
    scale: 1.05
}