#sence1{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#sence1 img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(.5);
    scale: 1.1;
}

#sence1 .ov{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    width: 100%;
    text-align: left;
    padding-left: 10%;
    padding-top: 60vh;
}

#sence1 .ov span{
    font-size: 1.4rem;
    color: rgb(255, 118, 5);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: rgb(255, 118, 5) 2px solid;
    width:400px;
}

#sence1 .ov h1{
    color: rgb(255, 255, 255);
    font-size:5rem;
    margin-top: 8px;
    margin-bottom: 16px;    
    text-shadow: 2px 2px 2px rgba(0,0,0,.5);
}

#sence1 .ov p{
    color: rgb(255, 255, 255);
    font-size: 1rem;
    margin-top: 8px;
    margin-bottom: 16px;    
    text-shadow: 2px 2px 2px rgba(0,0,0,.5);
    width: 70%;
}
/* ================= */



.item > h1{
    font-size: 25px;
} 

.slide-training {
    padding: 0 150px;
    background-color: rgb(22, 22, 22);
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-training > div{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
}

 #training-slider >div {
    display: flex;
    align-items: center;
    transition: transform 0.5s ease;
}
#training-slider{
    display: flex;
    overflow: hidden;
}

.training-slider-inner{
    display: flex;
    width: 100%;
    
}
.item{
    min-width: 33.33%;
}
.item > div {
    
    width: 100%;
    height: 470px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 127, 16);
    color: white;
    border-radius: 10px;
}

.item.active {
    padding: 0 10px;
    opacity: 1;
    transform: scale(1);
} 

.item{
    opacity: 0.6;
    transform: scale(0.7);
    transition: all ease 0.7s;
     
}

 

.dieu-huong {
    font-size: 35px;
    z-index: 9;
    cursor: pointer;
    color: #fff;
    transition: background-color 0.3s ease;
} 

/* ======== */
#projects-container{
    background-color: rgb(22, 22, 22);
    padding: 0 200px;
    display: flex;
    flex-grow: 3;
    flex-wrap: wrap;
}
.project{
    width: 33.33%;
    padding: 15px;
    text-align: left;
    transition: transform ease 0.4s; 
}
.project:hover{
    transform: scale(1.05);
}


.project > div {
    background-color: white;
    /* box-shadow: 2px 2px 8px rgba(255, 255, 255, 0.4), -2px -2px 5px rgba(255, 255, 255, 1); */
    /* border-radius: 15px; */
}
.project > div >div{
    padding: 10px;
}
.project img {
    width: 100%;
    height: auto;
    /* border-radius: 13px 13px 0 0; */
}

.line{
    background-color:rgb(22, 22, 22);
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top:130px;
    padding-bottom:30px;
    font-size: 50px;
}

@media screen and (max-width: 768px){
    .project{
        width: 100%; 
    }
    .item{
        min-width: 100%;
    }
    .slide-training{
        width: 100%;
        padding: 0 9%;
    }
    .training-slider{
        width: 100%;
    }
    .training-slider-inner{
        width: 100%;
    }
    .dieu-huong{
        padding: 0 1%
    }
    .item > div{
        height: 530px;
    }
    #projects-container{
        padding: 0 10%;
    
    }
    .project.scale-up{
        transform: scale(1.06);
    }
}